/* Global Styles
--------------------------------------------- */
ol, ul{list-style:none; margin:0; padding:0;}
a,a:hover,a:active,a:focus{cursor:pointer;}
a, a:active, *:before, *:after{outline:none;}
a:hover{text-decoration:none;}
a:focus, a:active{text-decoration:none; outline:none;}
img{border:0 none; height:auto; max-width:100%; vertical-align:middle;}
hr{margin-top:0;}
b{font-family:'MyriadPro-Bold';}
a {
	transition: color 100ms ease-in-out;
	-o-transition: color 100ms ease-in-out;
	-ms-transition: color 100ms ease-in-out;
	-moz-transition: color 100ms ease-in-out;
	-webkit-transition: color 100ms ease-in-out
}
.animated {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .3s linear;
	transition: opacity .3s linear
}
label{font-weight:400; margin-bottom:0;}
:focus{outline:none;}
input::-webkit-input-placeholder, .form-control::-webkit-input-placeholder{color:#999 !important; opacity:1;}
input::-moz-placeholder, .form-control::-moz-placeholder{color:#999 !important; opacity:1;}
input:-moz-placeholder, .form-control:-moz-placeholder{color:#999 !important; opacity:1;}
input:-ms-input-placeholder, .form-control:-ms-input-placeholder{color:#999 !important; opacity:1;}
.no-border{border:0 !important;}
.no-padding{padding:0 !important;}
.paddingV{padding:20px 0 !important;}
.no-padding-left{padding-left:0 !important;}
.no-padding-right{padding-right:0 !important;}
.no-padding-bottom{padding-bottom:0 !important;}
.no-margin{margin:0 !important;}
.no-margin-top{margin-top:0 !important;}
.margin-T10{margin-top:10px !important;}
.margin-T15{margin-top:15px !important;}
.margin-T20{margin-top:20px !important;}
.margin-T35{margin-top:35px !important;}
.margin-L45{margin-left:45px !important;}
.margin-R10{margin-right:10px !important;}
.margin-B15{margin-bottom:15px !important;}
.text-underline{text-decoration:underline;}
.list-bullet{margin-bottom:10px; list-style:disc; padding-left:30px;}
.list-blank{margin-bottom:10px; padding-left:30px;}
.min-height{min-height:330px;}
.text-capitalize{text-transform:capitalize !important;}
.clear{width:100%; float:left; margin-bottom:20px; position:relative;}
label.error{background-color:#ff835c; padding:3px 12px; display:none; font-size:13px !important; color:#fff !important; position:absolute; top:40px; z-index:9;}
label.error:before{content:""; position:absolute; top:0; margin-top:-7px; left:10px; border-left:7px solid transparent; border-right:7px solid transparent; border-bottom:7px solid #ff835c;}
.required{display:none;}

/* Bootstrap Overrides Styles
--------------------------------------------- */
html{-webkit-text-size-adjust: none;}
html,body{-webkit-backface-visibility: hidden; height:100%;}
body{background:#fff; font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; overflow-x:hidden;}
h1, h2, h3, h4, h5, h6{line-height:1.2em; margin:0 0 10px;}
h4, h5, h6{text-transform:none;}
h1{font-size:3.5vw; line-height:1.039;}
h2{font-size:3vw;}
h3{font-size:30px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}
p{font-size:14px; color:#000; line-height:18px;}
.font-normal{font-weight:normal;}
.inline-block{ display:inline-block}
.well-lg{border-radius:0;}
.dropdown-menu > li > a:hover{background-color:#00aca0; color:#fff;}
.dropdown-header{font-size:13px;}
.dropdown-menu .divider{margin:2px 0;}
.well{border:none; border-radius:0;}
.btn{border-radius:6px;}
.btn:active,.btn:active:focus,.btn:focus, .btn:active{outline:none; outline-offset:0; box-shadow:none; border-color:rgba(0, 0, 0, 0.1);}
.btn-default, .btn-default:hover{background-color:#f0ad4e; height:42px; padding:10px 15px; font-family:'MyriadPro-Bold'; font-size:18px; color:#fff; line-height:23px; border-color:rgba(0, 0, 0, 0.05); -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; transition:0.3s;}
.btn-default:focus{background-color:#fab757; border-color:rgba(0, 0, 0, 0.1); color:#fff; text-decoration:none;}
.btn-lg, .btn-lg:hover{height:48px; padding:6px 30px !important;}
.btn-sm, .btn-sm:hover{height:auto; font-size:15px; padding:4px 15px !important; border-radius:4px !important;}
.btn-xs, .btn-xs:hover{height:auto; font-size:12px; padding:4px 10px !important; border-radius:3px !important;}
.btn-link, .btn-link:hover, .btn-link:focus{background-color:transparent; font-family:'MyriadPro-Bold'; border:none;}
.btn-primary{background-color:#157ada;}
.btn-orange{background-color:#ff8200 !important;}
.btn-orange:hover, .btn-orange:focus{background-color:#ec971f !important;}
.btn-blue{background-color:#337ab7 !important;}
.btn-blue:hover, .btn-blue:focus{background-color:#408bcb !important;}
.form-group{margin-bottom:10px; position:relative;}
.form-group label{margin:0 !important; font-size:18px; color:#333; line-height:20px;}
.form-control{height:30px; padding:6px 15px 5px; font-size:14px; color:#333; border:1px solid #c8dbef; border-radius:5px !important;}
.form-control:focus{border-color:#fbb017 !important; box-shadow:none;}
.form-group label{font-size:14px;}
.input-group{width:100%; padding-right:25px;}
.input-group > i{display:none; width:25px; position:absolute; right:0; top:0; padding:5px 0; font-size:18px; line-height:23px; text-align:center;}
.input-group small{display:none; width:100%; float:left; margin:0; padding-top:5px; font-size:13px; line-height:16px;}
.has-error .form-control, .has-error .form-control:focus{border-color:#e96d69;}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label,.has-error.checkbox-inline label, .has-error .form-control-feedback{color:#e96d69;}
.has-success .form-control, .has-success .form-control:focus{border-color:#87c54f;}
.has-success .form-control-feedback{color:#87c54f;}
.alert{padding:10px 15px; font-size:16px;}

/* Checkbox and Radio Buttons
--------------------------------------------- */
label, .lbl{vertical-align:middle}
input.checkbox[type="checkbox"], input.radio[type="radio"]{cursor:pointer; width:16px; height:16px; margin:0; opacity:0; -moz-opacity:0; -webkit-opacity:0; filter:alpha(opacity=0); position: absolute; z-index:12; outline:none;}
input.checkbox[type="checkbox"] ~ .lbl, input.radio[type="radio"] ~ .lbl{background-color:#e7e7e7; cursor:pointer; display:inline-block; position:relative; min-width:160px; margin-right:6px; padding:8px 20px 7px; border-radius:4px; font-family:'MyriadPro-Bold'; font-size:14px; color:#666; line-height:1.42857; z-index:9; -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; transition:0.3s;}
input.checkbox[type="checkbox"] ~ .lbl small, input.radio[type="radio"] ~ .lbl small{display:block;}
input.checkbox[type="checkbox"] ~ .lbl:hover, input.radio[type="radio"] ~ .lbl:hover{color:#333;}
input.checkbox[type="checkbox"]:checked ~ .lbl, input.radio[type="radio"]:checked ~ .lbl{background-color:#43b02a; display:inline-block; color:#fff; box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;}
input.radio[type="radio"]:checked ~ .lbl small{color:#fff;}
input.checkbox[type="checkbox"]:checked[disabled] ~ .lbl{background-color:#b8b8b8;}
input.radio[type="radio"]:checked[disabled] ~ .lbl{background-color:#b8b8b8;}
input.checkbox[type="checkbox"]:checked[disabled] ~ .lbl, input.radio[type="radio"]:checked[disabled] ~ .lbl, input.checkbox[type="checkbox"]:disabled ~ .lbl, input.radio[type="radio"]:disabled ~ .lbl{cursor:default;}
input.checkbox[type="checkbox"]:disabled ~ .lbl, input.checkbox.disabled[type="checkbox"] ~ .lbl, input.radio[type="radio"]:disabled ~ .lbl, input.radio.disabled[type="radio"] ~ .lbl{background-color:#f2f2f2;}
.check-visible{position:relative;}
.check-visible > label, .check-visible .lbl{width:100%;}
.check-visible input.checkbox[type="checkbox"], .check-visible input.radio[type="radio"]{cursor:pointer; opacity:1 !important; left:15px; top:9px; z-index:12;}
.check-visible input.checkbox[type="checkbox"] ~ .lbl, .check-visible input.radio[type="radio"] ~ .lbl{padding-left:40px; font-family:'MyriadPro';}

/* Popup Styles
--------------------------------------------- */
.modal-dialog{margin-top:80px}
.modal-header{padding:10px 30px; position:relative;}
.modal-header .modal-title{font-size:30px; color:#337ab7;}
.modal-body{padding:25px 50px;}
.modal-body p{font-size:16px; line-height:22px;}
.modal-backdrop.in{opacity:0.7;}
.modal-open{overflow:auto !important; padding-right:0 !important;}
.modal-header .close, .modal-content .close{position:absolute; right:15px; top:15px; font-size:22px; font-weight:400; text-shadow:none; opacity:0.9; z-index:8;}
.modal-header .close:hover, .modal-header .close:focus, .modal-content .close:hover{color:#fff; opacity:1;}

/* Header Styles
--------------------------------------------- */
header{background-color:#f8f8f8; width:100%; position:relative; left:0; right:0; box-shadow:0 0px 3px #d6d6d6;}
header, footer{clear:both;}
.navbar-form .form-control {
	width: 200px;
	padding: 5px 15px;
	height: 30px;
	font-size:13px !important;
	border-color:#ccd0d4;
	-webkit-border-radius: 30px !important;
	-moz-border-radius: 30px !important;
	border-radius: 30px !important
}
.navbar-form .form-control:focus {
	width: 300px;
	animation: expand .2s;
	-webkit-animation: expand .2s
}
.navbar-form .btn-search {
	position: absolute;
	right: 4px;
	top: 2px;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	background: 0 0;
	-webkit-border-radius: 0 30px 30px 0;
	-moz-border-radius: 0 30px 30px 0;
	border-radius: 0 30px 30px 0
}
.navbar-nav>li>.dropdown-menu {
	border-top: 1px solid #eee
}
.navbar-nav>li>.dropdown-menu.media-list .media-heading {
	font-weight: 600
}
.navbar-nav>li>a .label {
	position: absolute;
	top: 7px;
	right: 3px;
	display: block;
	background: #ff5b57;
	line-height: 12px;
	font-weight: 300;
	padding: .3em .6em;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px
}
.navbar-user img {
	float: left;
	width: 30px;
	height: 30px;
	margin: -5px 10px 0 0;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #333
}
.navbar .navbar-nav>li.divider {
	height: 34px;
	margin-top: 10px;
	background: #e2e7eb;
	width: 1px
}
.navbar.navbar-inverse .navbar-nav>li.divider {
	background: #3F4B55
}
.navbar-brand {
	margin-right: 10px;
	padding: 12px 20px;
	height: 75px;
	width: 192px;
	font-weight: 100;
	font-size: 18px;
	line-height: 30px
}
.navbar-nav.navbar-right{
	margin-top:11px;
}
.navbar-logo {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	border: 10px solid transparent;
	border-color: #4DCACA #31A3A3 #1D8888;
	opacity: .9;
	filter: alpha(opacity=90)
}
.nav > li > a{
	background-color:transparent !important;
}
.navbar-form {
	margin: 12px 0
}
.fade .navbar-form .form-control {
	-webkit-animation: none
}
@keyframes expand {
from {
	width:200px
}
to {
	width:300px
}
}
@-webkit-keyframes expand {
from {
	width:200px
}
to {
	width:300px
}
}

/* Content Styles
--------------------------------------------- */
section{position:relative;}
.wrapper{width:100%; float:left; padding-top:75px; position:relative; overflow:hidden;}


/* Footer Styles
--------------------------------------------- */
footer{background-color:#333; width:100%; height:40px; padding-top:10px; color:#fff; font-size:12px; position:relative; z-index:99;}
