<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="description" content="Aide et Action, Aide Action"/>
<title>Aide et Action</title>
<link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
<link href="../static/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="../static/css/lib/bootstrap-datepicker.css" type="text/css" rel="stylesheet"/>
<link href="../static/css/layout.css" type="text/css" rel="stylesheet"/>
<link href="../static/css/responsive.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="index.html"><img src="../static/images/logo.png" alt="Aide et Action"/></a> </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:;">Search</a></li>
        <li class="dropdown navbar-user"> <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;"> <img alt="" src="../static/images/user.jpg"/> <span class="hidden-xs">Suresh Kumar</span> <b class="caret"></b> </a>
          <ul class="dropdown-menu animated fadeInLeft">
            <li class="arrow"></li>
            <li><a href="javascript:;">Edit Profile</a></li>
            <li class="divider"></li>
            <li><a href="javascript:;">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="wrapper">
  <div class="container inner-wrap">
    <form class="form-inline">
      <div class="jumbotron"> 
      <label class="sr-only" for="exampleFamilyName">Family Name</label>
      <input type="email" class="form-control" id="exampleFamilyName" placeholder="Family Name">
      <label class="sr-only" for="exampleFamilyID">Family ID</label>
      <input type="password" class="form-control" id="exampleFamilyID" placeholder="Family ID">
      <label class="sr-only" for="exampleFamilyLocation">Family Location</label>
      <input type="password" class="form-control" id="exampleFamilyLocation" placeholder="Family Location">

      <button type="submit" class="btn btn-default">Sign in</button>
    </div> <!-- jumbotron -->
    </form>

  <table id="familySearchTable" class="table table-hover table-bordered table-responsive tablesorter">
      <thead> 
        <tr> 
          <th class="header" tabindex="0" aria-sort="ascending">Name</th> 
          <th class="header">Family Id</th> 
          <th class="header">State</th> 
          <th>&nbsp;</th>
        </tr> 
      </thead> 
    <tbody> 
      <tr> 
        <td>c</td> 
        <td>2</td>
        <td>KA</td> 
        <td><a href="#modal">View details</a></td>
     </tr>
      <tr> 
       <td>a</td> 
       <td>1</td>
       <td>TN</td>
       <td><a href="#modal">View details</a></td>
     </tr>      
   </tbody>
  </table>

  </div>  <!-- end container -->
</div>  <!-- wrapper -->
<footer>
  <div class="container"> Copyright 2015 All rights reserved. </div>
</footer>
<script src="../static/js/lib/jquery.min.js"></script> 
<script src="../static/js/lib/bootstrap.min.js"></script> 
<script src="../static/js/lib/__jquery.tablesorter.js"></script> 
<script>

   (function($) {
      /*
       * Table sorter is overridden for keyboard accessibility
       * Use right and left arrows to navigate
      */
        var constructOrig = $.fn.tablesorter;
        $.fn.extend({
          tablesorter: function(options) {
              var $headers =$('th.header'); 
              if ( $headers.length>0 ){                                           
                  $headers[0].setAttribute('tabIndex','0');
                  $headers[0].setAttribute('aria-sort','ascending')

                  $headers.keydown(function(e) {
                      var k = e.which || e.keyCode
                          , $this= $(this)
                      if (!/(13|32|37|39)/.test(k)) return

                      index = $headers.index(this)
                      if (k == 37) index--
                      if (k == 39) index++

                      if(index < 0) index = $headers.length -1
                      if(index == $headers.length) index = 0
                      if(k == 37 || k === 39){
                          this.setAttribute('tabIndex','-1');
                          $headers[index].setAttribute('tabIndex','0');
                          $headers[index].focus();
                      }
                      // console.log(this, $headers,  index);
                      if( k === 32 || k === 13) {
                          $this.click()
                          setTimeout(function(){
                              // console.log($this.attr('class'))
                              if($this.hasClass('headerSortUp'))  $this.attr('aria-sort','descending')
                              if($this.hasClass('headerSortDown')) $this.attr('aria-sort','ascending')
                          } , 200)
                      }                                                       
                  });     
              }                               
                constructOrig.apply(this, arguments);
            }   
            })
    })(jQuery);  

$(document).ready(function() 
{     
      $("#familySearchTable").tablesorter({sortList: [[0,0]], headers: { 3:{sorter: false}}});
    } 
); 
</script>
</body>
</html>
