<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Aide et Action</title>
</head>
<body style="margin:0; padding:0; font-family:Helvetica, Arial,sans-serif; font-size:14px; color:#000000;">
<table align="center" width="1000" style="width:1000px; margin:0 auto; font-size:14px; color:#000000;" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" valign="top"><table width="960" style="width:960px; font-family:Helvetica,Arial,sans-serif; font-size:14px" border="0" cellpadding="0" cellspacing="0" align="center">
          <tbody>
            <tr>
              <td align="center" style="padding-top:10px; text-align:center;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td width="50%" align="left"><img src="http://aea-southasia.org/wp-content/uploads/2015/03/aideetaction-logo11.jpg" alt="Aide et Action" width="190" /></td>
                      <td align="right"><img src="http://www.qr-code-generator.com/phpqrcode/getCode.php?cht=qr&chl=http%3A%2F%2Fwww.aea-southasia.org%2F&chs=180x180&choe=UTF-8&chld=L|0" width="80" alt="" /></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="padding-top:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td width="50%"><table border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="padding:5px; font-size:14px; font-weight:bold;">Created by :</td>
                              <td style="width:200px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table></td>
                      <td align="right"><table border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="padding:5px; font-size:13px; font-weight:bold;">Date :</td>
                              <td style="width:120px; padding:5px 5px 0; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-size:20px; padding:5px; text-align:left; border-bottom:1px solid #d8d8d8;">Family details</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td align="left" style="font-size:16px; font-weight:600; padding:10px 5px; text-align:left; color:#8a8a8a;">Head of the household</td>
            </tr>
            <tr>
              <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="33%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Name :</td>
                                      <td style="width:220px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$name</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="21%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Age :</td>
                                      <td style="width:120px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$age</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Gender :</td>
                                      <td style="width:150px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$gender</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="20"></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="48%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Name of the Worksite :</td>
                                      <td style="width:270px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$work</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Start Date :</td>
                                      <td style="width:190px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$start</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-size:16px; font-weight:600; padding:10px 5px; text-align:left; color:#8a8a8a;">Permanent address</td>
            </tr>
            <tr>
              <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Village :</td>
                                      <td style="width:190px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$village</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="26%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">G.P :</td>
                                      <td style="width:170px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$gp</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Block :</td>
                                      <td style="width:160px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$block</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="20"></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="25%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">District :</td>
                                      <td style="width:160px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$dist</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="25%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">State :</td>
                                      <td style="width:160px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$state</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="26%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Phone No. :</td>
                                      <td style="width:140px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Pin :</td>
                                      <td style="width:120px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">$pin</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="13%" style="padding:5px; font-size:13px; font-weight:bold;">Social Category :</td>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td width="8%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">SC</label></td>
                                      <td width="8%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">ST</label></td>
                                      <td width="9%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">OBC</label></td>
                                      <td width="11%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">General</label></td>
                                      <td width="11%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Minority </label></td>
                                      <td><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Other</label></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="25">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-size:20px; padding:5px; text-align:left; border-bottom:1px solid #d8d8d8;">Family entitlements</td>
            </tr>
            <tr>
              <td height="15">&nbsp;</td>
            </tr>
            <tr>
              <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td width="16%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label>Marriage scheme</label></td>
                                      <td width="15%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label>Maternal benifits</label></td>
                                      <td width="15%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label>Oldage pension</label></td>
                                      <td width="14%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label>Widow pension</label></td>
                                      <td><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Ration</label></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="30">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" style="font-size:20px; padding:5px; text-align:left; border-bottom:1px solid #d8d8d8;">Details of the family member</td>
            </tr>
            <tr>
              <td height="15">&nbsp;</td>
            </tr>
            <tr>
              <td bgcolor="#f8f8f8" style="background-color:#f8f8f8; padding:10px 10px 20px; border:1px solid #ccc;" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Name :</td>
                                      <td style="width:200px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="16%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Age :</td>
                                      <td style="width:75px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="33%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Relationship :</td>
                                      <td style="width:180px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Gender :</td>
                                      <td style="width:114px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:16px; font-weight:600; text-align:left; padding:10px 5px; color:#8a8a8a;">Head of the household</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="17%" style="padding:5px; font-size:13px; font-weight:bold;">Nutrition assessment :</td>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td width="11%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Anemic</label></td>
                                      <td width="14%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Clean water</label></td>
                                      <td width="12%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Nutrition</label></td>
                                      <td width="14%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Sanitation</label></td>
                                      <td>&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:16px; font-weight:600; padding:10px 5px; text-align:left; color:#8a8a8a;">Education assessment</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td style="padding:5px; font-size:13px; font-weight:bold;">School :</td>
                                              <td style="width:190px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                          </tbody>
                                        </table></td>
                                      <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td style="padding:5px; font-size:13px; font-weight:bold;">Grade :</td>
                                              <td style="width:190px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                          </tbody>
                                        </table></td>
                                      <td width="9%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Books</label></td>
                                      <td width="13%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Scholarship</label></td>
                                      <td>&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="15">&nbsp;</td>
            </tr>
            <tr>
              <td bgcolor="#f8f8f8" style="background-color:#f8f8f8; padding:10px 10px 20px; border:1px solid #ccc;" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Name :</td>
                                      <td style="width:200px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="16%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Age :</td>
                                      <td style="width:75px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="33%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Relationship :</td>
                                      <td style="width:180px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Gender :</td>
                                      <td style="width:114px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:16px; font-weight:600; text-align:left; padding:10px 5px; color:#8a8a8a;">Head of the household</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="17%" style="padding:5px; font-size:13px; font-weight:bold;">Nutrition assessment :</td>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td width="11%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Anemic</label></td>
                                      <td width="14%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Clean water</label></td>
                                      <td width="12%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Nutrition</label></td>
                                      <td width="14%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Sanitation</label></td>
                                      <td>&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:16px; font-weight:600; padding:10px 5px; text-align:left; color:#8a8a8a;">Education assessment</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td style="padding:5px; font-size:13px; font-weight:bold;">School :</td>
                                              <td style="width:190px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                          </tbody>
                                        </table></td>
                                      <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td style="padding:5px; font-size:13px; font-weight:bold;">Grade :</td>
                                              <td style="width:190px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                          </tbody>
                                        </table></td>
                                      <td width="9%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Books</label></td>
                                      <td width="13%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Scholarship</label></td>
                                      <td>&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="15">&nbsp;</td>
            </tr>
            <tr>
              <td bgcolor="#f8f8f8" style="background-color:#f8f8f8; padding:10px 10px 20px; border:1px solid #ccc;" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Name :</td>
                                      <td style="width:200px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="16%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Age :</td>
                                      <td style="width:75px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td width="33%"><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Relationship :</td>
                                      <td style="width:180px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                              <td><table border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding:5px; font-size:13px; font-weight:bold;">Gender :</td>
                                      <td style="width:114px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:16px; font-weight:600; text-align:left; padding:10px 5px; color:#8a8a8a;">Head of the household</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td width="17%" style="padding:5px; font-size:13px; font-weight:bold;">Nutrition assessment :</td>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td width="11%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Anemic</label></td>
                                      <td width="14%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Clean water</label></td>
                                      <td width="12%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Nutrition</label></td>
                                      <td width="14%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Sanitation</label></td>
                                      <td>&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:16px; font-weight:600; padding:10px 5px; text-align:left; color:#8a8a8a;">Education assessment</td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td style="padding:5px; font-size:13px; font-weight:bold;">School :</td>
                                              <td style="width:190px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                          </tbody>
                                        </table></td>
                                      <td width="30%"><table border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td style="padding:5px; font-size:13px; font-weight:bold;">Grade :</td>
                                              <td style="width:190px; padding:5px; font-size:13px; border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                          </tbody>
                                        </table></td>
                                      <td width="9%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Books</label></td>
                                      <td width="13%"><span style="width:15px; height:15px; margin-right:3px; display:inline-block; border:1px solid #000000;">&nbsp;</span>
                                        <label for="radio">Scholarship</label></td>
                                      <td>&nbsp;</td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="15">&nbsp;</td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>
