/* Global Styles
--------------------------------------------- */
ol, ul{list-style:none; margin:0; padding:0;}
a,a:hover,a:active,a:focus{cursor:pointer;}
a, a:active, *:before, *:after{outline:none;}
a:hover{text-decoration:none;}
a:focus, a:active{text-decoration:none; outline:none;}
img{border:0 none; height:auto; max-width:100%; vertical-align:middle;}
hr{margin-top:0;}
a{-webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; transition:0.3s;}
.animated{-webkit-animation-duration: .6s; animation-duration: .6s; -webkit-animation-fill-mode: both; animation-fill-mode: both}
.fade {opacity: 0; -webkit-transition: opacity .3s linear; transition: opacity .3s linear}
label{font-weight:400;}
:focus{outline:none;}
input::-webkit-input-placeholder, .form-control::-webkit-input-placeholder{color:#999 !important; opacity:1;}
input::-moz-placeholder, .form-control::-moz-placeholder{color:#999 !important; opacity:1;}
input:-moz-placeholder, .form-control:-moz-placeholder{color:#999 !important; opacity:1;}
input:-ms-input-placeholder, .form-control:-ms-input-placeholder{color:#999 !important; opacity:1;}
.no-border{border:0 !important;}
.no-padding{padding:0 !important;}
.paddingV{padding:20px 0 !important;}
.no-padding-left{padding-left:0 !important;}
.no-padding-right{padding-right:0 !important;}
.no-margin{margin:0 !important;}
.no-margin-top{margin-top:0 !important;}
.margin-T10{margin-top:10px !important;}
.margin-T15{margin-top:15px !important;}
.margin-T20{margin-top:20px !important;}
.list-bullet{margin-bottom:10px; list-style:disc; padding-left:30px;}
.list-blank{margin-bottom:10px; padding-left:30px;}
.clear{width:100%; float:left; margin-bottom:20px; position:relative;}
label.error{background-color:#ff835c; padding:3px 12px; display:none; font-size:13px !important; color:#fff !important; position:absolute; top:40px; z-index:9;}
label.error:before{content:""; position:absolute; top:0; margin-top:-7px; left:10px; border-left:7px solid transparent; border-right:7px solid transparent; border-bottom:7px solid #ff835c;}

/* Bootstrap Overrides Styles
--------------------------------------------- */
html{-webkit-text-size-adjust: none;}
html,body{-webkit-backface-visibility: hidden; height:100%;}
body{background:url(../images/body-bg.png) repeat 0 0; font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; overflow-x:hidden;}
p{font-size:14px; color:#222; line-height:18px;}
.font-normal{font-weight:normal;}
.inline-block{ display:inline-block}
.dropdown-menu > li > a{padding:5px 15px;}
.dropdown-menu > li > a:hover{background-color:#fbb016; color:#fff;}
.dropdown-header{font-size:13px;}
.dropdown-menu .divider{margin:2px 0;}
.well{background-color:#fff; border:none; border-radius:0;}
.well-lg{border-radius:0;}
.btn{border-radius:6px; font-weight:bold;}
.btn i{font-weight:normal;}
.btn:active,.btn:active:focus,.btn:focus, .btn:active{outline:none; outline-offset:0; box-shadow:none; border-color:rgba(0, 0, 0, 0.1);}
.btn-default, .btn-default:hover{background-color:#35a724; height:36px; padding:0 15px 2px; font-size:16px; color:#fff; border:2px solid #367e2b; -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; transition:0.3s;}
.btn-default:hover, .btn-default:focus{background-color:#367e2b !important; color:#fff !important; text-decoration:none;}
.btn-lg, .btn-lg:hover{height:48px; padding:6px 30px !important;}
.btn-sm, .btn-sm:hover{height:auto; font-size:15px; padding:4px 15px !important; border-radius:4px !important;}
.btn-xs, .btn-xs:hover{height:auto; font-size:12px; padding:4px 10px !important; border-radius:3px !important;}
.btn-link, .btn-link:hover, .btn-link:focus{background-color:transparent; font-family:'MyriadPro-Bold'; border:none;}
.btn-primary{background-color:#157ada;}
.btn-orange{background-color:#ff8200 !important;}
.btn-orange:hover, .btn-orange:focus{background-color:#ec971f !important;}
.btn-blue{background-color:#337ab7 !important; font-size:14px !important; font-weight:normal !important; border-color:#1260a2;}
.btn-blue:hover, .btn-blue:focus{background-color:#408bcb !important; border-color:#1260a2;}
.form-group{position:relative;}
.form-group label{font-size:18px; font-weight:600; color:#333; line-height:20px;}
.form-control{height:36px; padding:6px 15px 5px; font-size:14px; color:#333; border:1px solid #c8dbef; border-radius:5px !important;}
.form-control:focus{border-color:#fbb017 !important; box-shadow:none;}
.form-group label{font-size:14px;}
.has-error .form-control, .has-error .form-control:focus{border-color:#e96d69;}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label,.has-error.checkbox-inline label, .has-error .form-control-feedback{color:#e96d69;}
.has-success .form-control, .has-success .form-control:focus{border-color:#87c54f;}
.has-success .form-control-feedback{color:#87c54f;}
.alert{padding:10px 15px; font-size:16px;}

/* Checkbox and Radio Buttons
--------------------------------------------- */
label{font-weight:normal;}
label, .lbl{vertical-align:middle}
label > input[type=checkbox] + span.lbl, label > input[type=radio] + span.lbl{cursor:pointer;}
input.checkbox[type="checkbox"], input.radio[type="radio"]{cursor:pointer; width:16px; height:16px; opacity:0; -moz-opacity:0; -webkit-opacity:0; filter:alpha(opacity=0); position: absolute; z-index:12; filter:alpha(opacity=100)\9; visibility:visible\9;}
input.checkbox[type="checkbox"]:checked, input.checkbox[type="checkbox"]:focus, input.radio[type="radio"]:checked, input.radio[type="radio"]:focus{outline: medium none !important}
input.checkbox[type="checkbox"] ~ .lbl, input.radio[type="radio"] ~ .lbl{display:inline-block; font-size:14px; margin:0; min-height:16px; min-width:16px; position:relative; vertical-align:top; font-weight:normal; z-index:11;}
input.checkbox[type="checkbox"] ~ .lbl:before, input.radio[type="radio"] ~ .lbl:before{background:url(../images/checkbox.png) no-repeat #fff 12px 12px; background:none\9; content:" "; display:inline-block; height:14px; margin-top:-3px; margin-right:6px; min-width:14px; vertical-align:middle; border:1px solid #c5c7cf;}
input.radio[type="radio"] ~ .lbl:before{height: 15px; min-width: 15px; border-radius:50px;}
input.checkbox[type="checkbox"]:checked ~ .lbl:before{background-position:-16px 0; background-color:#f65c68;}
input.checkbox[type="checkbox"]:checked ~ .lbl:before, input.radio[type="radio"]:checked ~ .lbl:before{background-position:1px 2px; content:" "; display:inline-block; border:1px solid #f65c68;}
input.checkbox[type="checkbox"]:checked[disabled] ~ .lbl:before{background-position:-15px 2px;}
input.radio[type="radio"]:checked[disabled] ~ .lbl:before{background-position:-40px 4px;}
input.radio[type="radio"]:checked ~ .lbl:before{background-position:-28px 4px;}
input.checkbox[type="checkbox"]:checked[disabled] ~ .lbl, input.radio[type="radio"]:checked[disabled] ~ .lbl, input.checkbox[type="checkbox"]:disabled ~ .lbl, input.radio[type="radio"]:disabled ~ .lbl{cursor:default;}
input.checkbox[type="checkbox"]:disabled ~ .lbl:before, input.checkbox.disabled[type="checkbox"] ~ .lbl:before, input.radio[type="radio"]:disabled ~ .lbl:before, input.radio.disabled[type="radio"] ~ .lbl:before{background-color:#f2f2f2; border-color:#e3e3e3;}
input.checkbox[type="checkbox"]:focus ~ .lbl:before, input.radio[type="radio"]:focus ~ .lbl:before{border-color:#f65c68;}

/* Popup Styles
--------------------------------------------- */
.modal-dialog{margin-top:80px}
.modal-header{padding:10px 30px; position:relative;}
.modal-header .modal-title{font-size:30px; color:#337ab7;}
.modal-body{padding:25px 50px;}
.modal-body p{font-size:16px; line-height:22px;}
.modal-backdrop.in{opacity:0.7;}
.modal-open{overflow:auto !important; padding-right:0 !important;}
.modal-header .close, .modal-content .close{position:absolute; right:15px; top:15px; font-size:22px; font-weight:400; text-shadow:none; opacity:0.9; z-index:8;}
.modal-header .close:hover, .modal-header .close:focus, .modal-content .close:hover{color:#fff; opacity:1;}

/* Header Styles
--------------------------------------------- */
header{width:100%; position:relative; left:0; right:0;}
.navbar-default{background-color:#fff; box-shadow:0 0px 3px #d6d6d6;}
header, footer{clear:both;}
.navbar-form .form-control {width: 200px; padding: 5px 15px; height: 30px; font-size:13px !important; border-color:#ccd0d4; -webkit-border-radius: 30px !important; -moz-border-radius: 30px !important; border-radius: 30px !important}
.navbar-form .form-control:focus {width: 300px; animation: expand .2s; -webkit-animation: expand .2s}
.navbar-form .btn-search {position: absolute; right: 4px; top: 1px; height: 30px; padding-top: 5px; padding-bottom: 5px; border: none; background: 0 0; -webkit-border-radius: 0 30px 30px 0; -moz-border-radius: 0 30px 30px 0; border-radius: 0 30px 30px 0}
.navbar-nav > li > a:hover:after{content:""; position:absolute; border-bottom:2px solid #faaf16; width:100%; left:0; bottom:5px;}
.navbar-nav > li.navbar-user > a{background-color:transparent !important;}
.navbar-nav > li.navbar-user > a:hover:after{visibility:hidden;}
.navbar-nav>li>.dropdown-menu {border-top: 1px solid #eee}
.navbar-nav>li>.dropdown-menu.media-list .media-heading {font-weight: 600}
.navbar-nav>li>a .label {position: absolute; top: 7px; right: 3px; display: block; background: #ff5b57; line-height: 12px; font-weight: 300; padding: .3em .6em; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px}
.navbar-user:before{content:""; position:absolute; border-left:1px solid #c7c7c7; top:15px; height:20px;}
.navbar-user img {float: left; width: 30px; height: 30px; margin: -5px 10px 0 0; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px}
.navbar .navbar-nav>li.divider {height: 34px; margin-top: 10px; background: #e2e7eb; width: 1px}
.navbar.navbar-inverse .navbar-nav>li.divider {background: #3F4B55}
.navbar-brand {margin-right: 10px; padding: 12px 20px; height: 75px; width: 192px; font-weight: 100; font-size: 18px; line-height: 30px}
.navbar-nav.navbar-right{margin-top:11px;}
.navbar-form {margin: 12px 0}
.fade .navbar-form .form-control {-webkit-animation: none}
@keyframes expand {
from {width:200px}
to {width:300px}
}
@-webkit-keyframes expand {
from {width:200px}
to {width:300px}
}

/* Content Styles
--------------------------------------------- */
section{position:relative;}
.wrapper{width:100%; float:left; padding-top:75px; position:relative; overflow:hidden;}
.inner-wrap{padding-top:20px; padding-bottom:20px;}
.bg-overlay{background-color:rgba(0, 0, 0, 0.2); position:absolute; height:100%; top:0; left:0; right:0; z-index:0;}
.login-bg{background: url("../images/login-bg.jpg") no-repeat center center; background-size:cover; position:absolute; height:100%; top:0; left:0; right:0;}
.login-panel{background-color:#fff; width:400px; position:relative; z-index:11; margin:120px 0 30px 15%; padding:25px; border-radius:6px; -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.40); -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.40); box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.40);}

.page-header{margin:15px 0 0; font-size:24px; color:#22bc95; border-bottom:2px solid #85c5b5;}
.sub-header{border-color:#d8d8d8; margin:15px 0; position:relative; font-size:21px; text-align:left;}
.sub-header:after{content:""; position:absolute; left:0; right:0; bottom:10px; border-top:1px solid #d8d8d8;}
.sub-header > span{background-color:#fff; padding:3px 15px 3px 0; position:relative; z-index:11;}
.inner-head{font-size:17px; font-weight:bold; margin:5px 0 15px;}
.label-option{display:block; margin-top:8px;}
.label-option > li{display:inline-block; padding-left:15px;}
.label-option > li:first-child{padding-left:0;}

/* Footer Styles
--------------------------------------------- */
footer{background-color:#333; width:100%; height:40px; padding-top:10px; color:#fff; font-size:12px; position:relative; z-index:99;}
